@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600&family=Orbitron:wght@500&display=swap');

:root {
  --color-bg: #000000;
  --color-primary: #282A3A;
  --color-secondary: #ffffff;
  --color-accent: #735F32;
  --color-light: #C69749;

  --font-heading: 'Orbitron', sans-serif;
  --font-body: 'Montserrat', sans-serif;
}

body {
  margin: 0;
  padding: 0;
  background-color: var(--color-bg);
  font-family: var(--font-body);
  color: var(--color-light);
}

h1, h2, h3 {
  font-family: var(--font-heading);
  color: var(--color-secondary);
}

#logo{
  font-size: 3rem;
  font-family: var(--font-body);
  font-weight: bold; 
  letter-spacing: 4px; /* Відстань між літерами */
  color: var(--color-light);
}

.app {
  padding: 2rem;
  max-width: 1200px;
  margin: 0 auto;
}

.movie-list {
  display: flex;
  flex-wrap: wrap; /* переміщаються на нові рядки */
  gap: 1.5rem;
  justify-content: center;
  margin-top: 2rem;
}

.movie-card {
  background-color: var(--color-primary);
  border-radius: 12px;
  padding: 1rem;
  box-shadow: 0 4px 10px rgba(184, 184, 184, 0.3); /* [горизонтальний зсув] [вертикальний зсув] [розмитість] [розмір тіні] [колір] */
  transition: transform 0.2s ease, box-shadow 0.2s ease;
  flex: 1 1 calc(33.333% - 1rem); /* 3 на ряд по замовчуванню */
  max-width: 300px;
  box-sizing: border-box;
}

.movie-card:hover {
  transform: scale(1.03);
  box-shadow: 0 6px 14px var(--color-accent); /* Використовуємо акцентний колір для тіні */
}

.movie-card img {
  width: 100%;
  height: 50vh;
  object-fit: cover; /* не спотворює */
  border-radius: 8px;
  margin-bottom: 0.5rem;
}

input[type="text"] {
  padding: 0.5rem 1rem;
  width: 100%;
  max-width: 400px;
  border: none;
  border-radius: 8px;
  font-size: 1rem;
  font-family: var(--font-body);
  background-color: var(--color-secondary);
  color: var(--color-bg);
  box-sizing: border-box;
}

input[type="text"]::placeholder {
  color: var(--color-bg);
}

.book-button {
  background-color: var(--color-accent); 
  color: white;
  border: none; 
  padding: 10px 20px; 
  font-size: 16px; 
  border-radius: 5px; 
  cursor: pointer; 
  transition: background-color 0.3s ease, transform 0.3s ease; 
}

.book-button:hover {
  background-color: var(--color-light); 
  transform: scale(1.05); 
}

.book-button:focus {
  outline: none; 
  box-shadow: 0 0 0 2px var(--color-light); 
}

.book-button:active {
  background-color: var(--color-primary); 
  transform: scale(0.98); 
}

.cinema-hall {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.seats-grid {
  display: grid;
  grid-template-columns: repeat(5, 50px);
  gap: 10px;
}

.seat {
  width: 50px;
  height: 50px;
  border: 1px solid #ccc;
  cursor: pointer;
}

.seat.booked {
  background-color: var(--color-accent)
}

.seat.available {
  background-color: var(--color-light);
}

@media (max-width: 1024px) {
  .movie-card {
    flex: 1 1 calc(50% - 1rem); /* 2 картки в ряд */
  }

}

@media (max-width: 600px) {
  .movie-card {
    flex: 1 1 100%; /* 1 картка на ряд */
  }


  .seats-grid {
    grid-template-columns: repeat(3, 50px);
  }
}
