@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600&family=Orbitron:wght@500&display=swap');

:root {
  --color-bg: #000000;
  --color-primary: #282A3A;
  --color-secondary: #ffffff;
  --color-accent: #735F32;
  --color-light: #C69749;

  --font-heading: 'Orbitron', sans-serif;
  --font-body: 'Montserrat', sans-serif;
}

body {
  margin: 0;
  padding: 0;
  background-color: var(--color-bg);
  font-family: var(--font-body);
  color: var(--color-light);
}

h1, h2, h3 {
  font-family: var(--font-heading);
  color: var(--color-secondary);
}

#logo{
  font-size: 3rem;
  font-family: var(--font-body);
  font-weight: bold; /* Товстий шрифт */
  letter-spacing: 4px; /* Відстань між літерами */
  color: var(--color-light);
}

.app {
  padding: 2rem;
  max-width: 1200px;
  margin: 0 auto;
}

.movie-list {
  display: flex;
  flex-wrap: wrap; /* переміщаються на нові рядки */
  gap: 1.5rem;
  justify-content: center;
  margin-top: 2rem;
}

.movie-card {
  background-color: var(--color-primary);
  border-radius: 12px;
  padding: 1rem;
  box-shadow: 0 4px 10px rgba(184, 184, 184, 0.3); /* [горизонтальний зсув] [вертикальний зсув] [розмитість] [розмір тіні] [колір] */
  transition: transform 0.2s ease, box-shadow 0.2s ease;
  flex: 1 1 calc(33.333% - 1rem); /* 3 на ряд по замовчуванню */
  max-width: 450px;
  box-sizing: border-box;
}

.movie-card:hover {
  transform: scale(1.03);
  box-shadow: 0 6px 14px var(--color-accent); /* Використовуємо акцентний колір для тіні */
}


.movie-card img {
  width: 100%;
  height: 50vh;
  object-fit: cover; /* не спотворює */
  border-radius: 8px;
  margin-bottom: 0.5rem;
}


input[type="text"] {
  padding: 0.5rem 1rem;
  width: 100%;
  max-width: 400px;
  border: none;
  border-radius: 8px;
  font-size: 1rem;
  font-family: var(--font-body);
  background-color: var(--color-secondary);
  color: var(--color-bg);
  box-sizing: border-box;
}

input[type="text"]::placeholder {
  color: var(--color-bg);
}

@media (max-width: 1024px) {
  .movie-card {
    flex: 1 1 calc(50% - 1rem); /* 2 картки в ряд */
  }

  .movie-card img {
    height: 60vh;
  }
}

@media (max-width: 600px) {
  .movie-card {
    flex: 1 1 100%; /* 1 картка на ряд */
  }

  .movie-card img {
    height: 50vh;
  }
}
